<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-sticky-header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","bottom":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px"><!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false,"align":"wide","fontSize":"x-large"} /-->

<!-- wp:separator {"align":"wide","className":"is-style-wide","style":{"spacing":{"margin":{"bottom":"25px"}}}} -->
<hr class="wp-block-separator alignwide has-alpha-channel-opacity is-style-wide" style="margin-bottom:25px"/>
<!-- /wp:separator -->

<!-- wp:query {"queryId":11,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":{"category":[31]}},"metadata":{"categories":["posts"],"patternName":"core/query-standard-posts","name":"Standard"},"className":"featured-projects"} -->
<div class="wp-block-query featured-projects"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<!-- wp:post-title {"level":4,"isLink":true} /-->

<!-- wp:post-featured-image {"isLink":true,"align":"wide"} /-->

<!-- wp:post-excerpt {"showMoreOnNewLine":false,"excerptLength":60,"style":{"spacing":{"padding":{"top":"0","bottom":"0"}}}} /-->

<!-- wp:post-date {"textAlign":"left","metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}}} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:query {"queryId":9,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"align":"wide","className":"featured-projects","layout":{"type":"constrained"}} -->
<div class="wp-block-query alignwide featured-projects"><!-- wp:query-pagination {"align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph -->
<p>No posts were found.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->