<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-sticky-header"} /-->

<!-- wp:group {"tagName":"main","className":"post-clean","style":{"spacing":{"padding":{"top":"0px","bottom":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"2rem"}}} -->
<main class="wp-block-group post-clean" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px"><!-- wp:group {"style":{"spacing":{"blockGap":"2.5rem"}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1,"isLink":true,"fontSize":"x-large"} /-->

<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"isLink":false,"aspectRatio":"16/9","style":{"border":{"width":"2px","radius":"12px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"1.2rem"}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Technologies Used</h4>
<!-- /wp:heading -->

<!-- wp:group {"className":"tech-pills","style":{"spacing":{"blockGap":"0rem","padding":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group tech-pills" style="padding-top:0;padding-bottom:0"><!-- wp:post-terms {"term":"post_tag","separator":"","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:separator {"opacity":"css","className":"is-style-wide"} -->
<hr class="wp-block-separator has-css-opacity is-style-wide"/>
<!-- /wp:separator --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->